<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rwkj.jc.dao.DepartDao" >
  <resultMap id="BaseResultMap" type="com.rwkj.jc.domain.Depart" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="depart_no" property="departNo" jdbcType="VARCHAR" />
    <result column="depart_name" property="departName" jdbcType="VARCHAR" />
    <result column="parent_no" property="parentNo" jdbcType="VARCHAR" />
    <result column="node_path" property="nodePath" jdbcType="VARCHAR" />
    <result column="isLeaf" property="isleaf" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, depart_no, depart_name, parent_no, node_path, isLeaf, status
  </sql>
   <select id="getMaxDepartNo" resultType="java.lang.Integer" parameterType="java.lang.String">
    select 
    max(depart_no+0)
    from ${tableName}
  </select>
  <select id="getDeparts" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from ${tableName} order by (depart_no+0)
  </select>
  <select id="getSubDepartsByDepartNo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ${tableName} where parent_no = #{departNo,jdbcType=VARCHAR} order by (depart_no+0)
  </select>
  <select id="selectByName" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ${tableName}
    where depart_name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ${tableName}
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey">
    delete from ${tableName}
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert">
    insert into ${tableName} (id, depart_no, depart_name, 
      parent_no, node_path, isLeaf, 
      status)
    values (#{depart.id,jdbcType=VARCHAR}, #{depart.departNo,jdbcType=VARCHAR}, #{depart.departName,jdbcType=VARCHAR}, 
      #{depart.parentNo,jdbcType=VARCHAR}, #{depart.nodePath,jdbcType=VARCHAR}, #{depart.isleaf,jdbcType=BIT}, 
      #{depart.status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective">
    insert into ${tableName}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="depart.id != null" >
        id,
      </if>
      <if test="depart.departNo != null" >
        depart_no,
      </if>
      <if test="depart.departName != null" >
        depart_name,
      </if>
      <if test="depart.parentNo != null" >
        parent_no,
      </if>
      <if test="depart.nodePath != null" >
        node_path,
      </if>
      <if test="depart.isleaf != null" >
        isLeaf,
      </if>
      <if test="depart.status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="depart.id != null" >
        #{depart.id,jdbcType=VARCHAR},
      </if>
      <if test="depart.departNo != null" >
        #{depart.departNo,jdbcType=VARCHAR},
      </if>
      <if test="depart.departName != null" >
        #{depart.departName,jdbcType=VARCHAR},
      </if>
      <if test="depart.parentNo != null" >
        #{depart.parentNo,jdbcType=VARCHAR},
      </if>
      <if test="depart.nodePath != null" >
        #{depart.nodePath,jdbcType=VARCHAR},
      </if>
      <if test="depart.isleaf != null" >
        #{depart.isleaf,jdbcType=BIT},
      </if>
      <if test="depart.status != null" >
        #{depart.status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" >
    update ${tableName}
    <set >
      <if test="depart.departNo != null" >
        depart_no = #{depart.departNo,jdbcType=VARCHAR},
      </if>
      <if test="depart.departName != null" >
        depart_name = #{depart.departName,jdbcType=VARCHAR},
      </if>
      <if test="depart.parentNo != null" >
        parent_no = #{depart.parentNo,jdbcType=VARCHAR},
      </if>
      <if test="depart.nodePath != null" >
        node_path = #{depart.nodePath,jdbcType=VARCHAR},
      </if>
      <if test="depart.isleaf != null" >
        isLeaf = #{depart.isleaf,jdbcType=BIT},
      </if>
      <if test="depart.status != null" >
        status = #{depart.status,jdbcType=BIT},
      </if>
    </set>
    where id = #{depart.id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateBydepartNo">
    update ${tableName}
    <set >
      <if test="depart.departName != null" >
        depart_name = #{depart.departName,jdbcType=VARCHAR},
      </if>
      <if test="depart.parentNo != null" >
        parent_no = #{depart.parentNo,jdbcType=VARCHAR},
      </if>
      <if test="depart.nodePath != null" >
        node_path = #{depart.nodePath,jdbcType=VARCHAR},
      </if>
      <if test="depart.isleaf != null" >
        isLeaf = #{depart.isleaf,jdbcType=BIT},
      </if>
      <if test="depart.status != null" >
        status = #{depart.status,jdbcType=BIT},
      </if>
    </set>
    where depart_no = #{depart.departNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey">
    update ${tableName}
    set depart_no = #{depart.departNo,jdbcType=VARCHAR},
      depart_name = #{depart.departName,jdbcType=VARCHAR},
      parent_no = #{depart.parentNo,jdbcType=VARCHAR},
      node_path = #{depart.nodePath,jdbcType=VARCHAR},
      isLeaf = #{depart.isleaf,jdbcType=BIT},
      status = #{depart.status,jdbcType=BIT}
    where id = #{depart.id,jdbcType=VARCHAR}
  </update>
  
  <select id="existTable" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM information_schema.TABLES WHERE TABLE_NAME=#{tableName}
    </select>
    <update id="dropTable">
        drop table ${tableName}
    </update>

    <update id="createNewTable" parameterType="String">
		CREATE TABLE ${tableName} (
		  `id` varchar(50) NOT NULL,
		  `depart_no` varchar(50) NOT NULL,
		  `depart_name` varchar(100) NOT NULL,
		  `parent_no` varchar(50),
		  `node_path` varchar(500) NOT NULL,
		  `isLeaf` tinyint(1) NOT NULL,
		  `status` tinyint(1) NOT NULL,
		  PRIMARY KEY  (`id`)
		)
    </update>
</mapper>