<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rwkj.jc.dao.DepartDao" >
  <resultMap id="BaseResultMap" type="com.rwkj.jc.domain.Depart" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="depart_no" property="departNo" jdbcType="VARCHAR" />
    <result column="depart_name" property="departName" jdbcType="VARCHAR" />
    <result column="parent_no" property="parentNo" jdbcType="VARCHAR" />
    <result column="node_path" property="nodePath" jdbcType="VARCHAR" />
    <result column="isLeaf" property="isleaf" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, depart_no, depart_name, parent_no, node_path, isLeaf, status
  </sql>
  <select id="getDeparts" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ${tableName} order by depart_no
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ${tableName}
    where depart_name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ${tableName}
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ${tableName}
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rwkj.jc.domain.Depart" >
    insert into ${tableName} (id, depart_no, depart_name, 
      parent_no, node_path, isLeaf, 
      status)
    values (#{id,jdbcType=VARCHAR}, #{departNo,jdbcType=VARCHAR}, #{departName,jdbcType=VARCHAR}, 
      #{parentNo,jdbcType=VARCHAR}, #{nodePath,jdbcType=VARCHAR}, #{isleaf,jdbcType=BIT}, 
      #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.rwkj.jc.domain.Depart" >
    insert into ${tableName}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="departNo != null" >
        depart_no,
      </if>
      <if test="departName != null" >
        depart_name,
      </if>
      <if test="parentNo != null" >
        parent_no,
      </if>
      <if test="nodePath != null" >
        node_path,
      </if>
      <if test="isleaf != null" >
        isLeaf,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="departNo != null" >
        #{departNo,jdbcType=VARCHAR},
      </if>
      <if test="departName != null" >
        #{departName,jdbcType=VARCHAR},
      </if>
      <if test="parentNo != null" >
        #{parentNo,jdbcType=VARCHAR},
      </if>
      <if test="nodePath != null" >
        #{nodePath,jdbcType=VARCHAR},
      </if>
      <if test="isleaf != null" >
        #{isleaf,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rwkj.jc.domain.Depart" >
    update ${tableName}
    <set >
      <if test="departNo != null" >
        depart_no = #{departNo,jdbcType=VARCHAR},
      </if>
      <if test="departName != null" >
        depart_name = #{departName,jdbcType=VARCHAR},
      </if>
      <if test="parentNo != null" >
        parent_no = #{parentNo,jdbcType=VARCHAR},
      </if>
      <if test="nodePath != null" >
        node_path = #{nodePath,jdbcType=VARCHAR},
      </if>
      <if test="isleaf != null" >
        isLeaf = #{isleaf,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rwkj.jc.domain.Depart" >
    update ${tableName}
    set depart_no = #{departNo,jdbcType=VARCHAR},
      depart_name = #{departName,jdbcType=VARCHAR},
      parent_no = #{parentNo,jdbcType=VARCHAR},
      node_path = #{nodePath,jdbcType=VARCHAR},
      isLeaf = #{isleaf,jdbcType=BIT},
      status = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="existTable" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM information_schema.TABLES WHERE TABLE_NAME=#{tableName}
    </select>
    <update id="dropTable">
        drop table ${tableName}
    </update>

    <update id="createNewTable" parameterType="String">
		CREATE TABLE ${tableName} (
		  `id` varchar(50) NOT NULL,
		  `depart_no` varchar(50) NOT NULL,
		  `depart_name` varchar(100) NOT NULL,
		  `parent_no` varchar(50) NOT NULL,
		  `node_path` varchar(500) NOT NULL,
		  `isLeaf` tinyint(1) NOT NULL,
		  `status` tinyint(1) NOT NULL,
		  PRIMARY KEY  (`id`)
		)
    </update>
</mapper>