<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rwkj.jc.IDao.PaperMapper" >
  <resultMap id="BaseResultMap" type="com.rwkj.jc.domain.Paper" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="paperTitle" property="papertitle" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, paperTitle, createTime, type, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jc_paper
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jc_paper
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rwkj.jc.domain.Paper" >
    insert into jc_paper (id, paperTitle, createTime, 
      type, status)
    values (#{id,jdbcType=VARCHAR}, #{papertitle,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=BIT}, #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.rwkj.jc.domain.Paper" >
    insert into jc_paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="papertitle != null" >
        paperTitle,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="papertitle != null" >
        #{papertitle,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rwkj.jc.domain.Paper" >
    update jc_paper
    <set >
      <if test="papertitle != null" >
        paperTitle = #{papertitle,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rwkj.jc.domain.Paper" >
    update jc_paper
    set paperTitle = #{papertitle,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=BIT},
      status = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="getPapers" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jc_paper order by createTime limit #{pageIndex},#{pageSize}
  </select>
  
   <select id="getPapersCount" resultType="java.lang.Integer">
    select 
    count(*)
    from jc_paper
  </select> 
  
  <select id="getPapersByColumnValue" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jc_paper where ${column} like #{value} order by createTime limit #{pageIndex},#{pageSize}
  </select>
  
   <select id="getPapersCountByColumnValue" resultType="java.lang.Integer">
    select 
    count(*)
    from jc_paper where ${column} like #{value}
  </select>
  
   <select id="selectPaperByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jc_paper
    where paperTitle = #{name,jdbcType=VARCHAR}
  </select>
  
   <delete id="deletePaperByids" parameterType="java.lang.String" >
    delete from jc_paper
    where id in ${ids}
  </delete>
</mapper>