<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rwkj.jc.IDao.PaperDetailMapper" >
  <resultMap id="BaseResultMap" type="com.rwkj.jc.domain.PaperDetail" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="paper_id" property="paperId" jdbcType="VARCHAR" />
    <result column="questionNO" property="questionno" jdbcType="INTEGER" />
    <result column="optionA" property="optiona" jdbcType="VARCHAR" />
    <result column="optionAScore" property="optionascore" jdbcType="SMALLINT" />
    <result column="optionB" property="optionb" jdbcType="VARCHAR" />
    <result column="optionBScore" property="optionbscore" jdbcType="SMALLINT" />
    <result column="optionC" property="optionc" jdbcType="VARCHAR" />
    <result column="optionCScore" property="optioncscore" jdbcType="SMALLINT" />
    <result column="optionD" property="optiond" jdbcType="VARCHAR" />
    <result column="optionDScore" property="optiondscore" jdbcType="SMALLINT" />
    <result column="optionE" property="optione" jdbcType="VARCHAR" />
    <result column="optionEScore" property="optionescore" jdbcType="SMALLINT" />
    <result column="optionF" property="optionf" jdbcType="VARCHAR" />
    <result column="optionFScore" property="optionfscore" jdbcType="SMALLINT" />
    <result column="isSuggest" property="issuggest" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.rwkj.jc.domain.PaperDetail" extends="BaseResultMap" >
    <result column="question" property="question" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, paper_id, questionNO, optionA, optionAScore, optionB, optionBScore, optionC, 
    optionCScore, optionD, optionDScore, optionE, optionEScore, optionF, optionFScore, 
    isSuggest
  </sql>
  <sql id="Blob_Column_List" >
    question
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from jc_paperdetail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jc_paperdetail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rwkj.jc.domain.PaperDetail" >
    insert into jc_paperdetail (id, paper_id, questionNO, 
      optionA, optionAScore, optionB, 
      optionBScore, optionC, optionCScore, 
      optionD, optionDScore, optionE, 
      optionEScore, optionF, optionFScore, 
      isSuggest, question)
    values (#{id,jdbcType=VARCHAR}, #{paperId,jdbcType=VARCHAR}, #{questionno,jdbcType=INTEGER}, 
      #{optiona,jdbcType=VARCHAR}, #{optionascore,jdbcType=SMALLINT}, #{optionb,jdbcType=VARCHAR}, 
      #{optionbscore,jdbcType=SMALLINT}, #{optionc,jdbcType=VARCHAR}, #{optioncscore,jdbcType=SMALLINT}, 
      #{optiond,jdbcType=VARCHAR}, #{optiondscore,jdbcType=SMALLINT}, #{optione,jdbcType=VARCHAR}, 
      #{optionescore,jdbcType=SMALLINT}, #{optionf,jdbcType=VARCHAR}, #{optionfscore,jdbcType=SMALLINT}, 
      #{issuggest,jdbcType=BIT}, #{question,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rwkj.jc.domain.PaperDetail" >
    insert into jc_paperdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="paperId != null" >
        paper_id,
      </if>
      <if test="questionno != null" >
        questionNO,
      </if>
      <if test="optiona != null" >
        optionA,
      </if>
      <if test="optionascore != null" >
        optionAScore,
      </if>
      <if test="optionb != null" >
        optionB,
      </if>
      <if test="optionbscore != null" >
        optionBScore,
      </if>
      <if test="optionc != null" >
        optionC,
      </if>
      <if test="optioncscore != null" >
        optionCScore,
      </if>
      <if test="optiond != null" >
        optionD,
      </if>
      <if test="optiondscore != null" >
        optionDScore,
      </if>
      <if test="optione != null" >
        optionE,
      </if>
      <if test="optionescore != null" >
        optionEScore,
      </if>
      <if test="optionf != null" >
        optionF,
      </if>
      <if test="optionfscore != null" >
        optionFScore,
      </if>
      <if test="issuggest != null" >
        isSuggest,
      </if>
      <if test="question != null" >
        question,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="paperId != null" >
        #{paperId,jdbcType=VARCHAR},
      </if>
      <if test="questionno != null" >
        #{questionno,jdbcType=INTEGER},
      </if>
      <if test="optiona != null" >
        #{optiona,jdbcType=VARCHAR},
      </if>
      <if test="optionascore != null" >
        #{optionascore,jdbcType=SMALLINT},
      </if>
      <if test="optionb != null" >
        #{optionb,jdbcType=VARCHAR},
      </if>
      <if test="optionbscore != null" >
        #{optionbscore,jdbcType=SMALLINT},
      </if>
      <if test="optionc != null" >
        #{optionc,jdbcType=VARCHAR},
      </if>
      <if test="optioncscore != null" >
        #{optioncscore,jdbcType=SMALLINT},
      </if>
      <if test="optiond != null" >
        #{optiond,jdbcType=VARCHAR},
      </if>
      <if test="optiondscore != null" >
        #{optiondscore,jdbcType=SMALLINT},
      </if>
      <if test="optione != null" >
        #{optione,jdbcType=VARCHAR},
      </if>
      <if test="optionescore != null" >
        #{optionescore,jdbcType=SMALLINT},
      </if>
      <if test="optionf != null" >
        #{optionf,jdbcType=VARCHAR},
      </if>
      <if test="optionfscore != null" >
        #{optionfscore,jdbcType=SMALLINT},
      </if>
      <if test="issuggest != null" >
        #{issuggest,jdbcType=BIT},
      </if>
      <if test="question != null" >
        #{question,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rwkj.jc.domain.PaperDetail" >
    update jc_paperdetail
    <set >
      <if test="paperId != null" >
        paper_id = #{paperId,jdbcType=VARCHAR},
      </if>
      <if test="questionno != null" >
        questionNO = #{questionno,jdbcType=INTEGER},
      </if>
      <if test="optiona != null" >
        optionA = #{optiona,jdbcType=VARCHAR},
      </if>
      <if test="optionascore != null" >
        optionAScore = #{optionascore,jdbcType=SMALLINT},
      </if>
      <if test="optionb != null" >
        optionB = #{optionb,jdbcType=VARCHAR},
      </if>
      <if test="optionbscore != null" >
        optionBScore = #{optionbscore,jdbcType=SMALLINT},
      </if>
      <if test="optionc != null" >
        optionC = #{optionc,jdbcType=VARCHAR},
      </if>
      <if test="optioncscore != null" >
        optionCScore = #{optioncscore,jdbcType=SMALLINT},
      </if>
      <if test="optiond != null" >
        optionD = #{optiond,jdbcType=VARCHAR},
      </if>
      <if test="optiondscore != null" >
        optionDScore = #{optiondscore,jdbcType=SMALLINT},
      </if>
      <if test="optione != null" >
        optionE = #{optione,jdbcType=VARCHAR},
      </if>
      <if test="optionescore != null" >
        optionEScore = #{optionescore,jdbcType=SMALLINT},
      </if>
      <if test="optionf != null" >
        optionF = #{optionf,jdbcType=VARCHAR},
      </if>
      <if test="optionfscore != null" >
        optionFScore = #{optionfscore,jdbcType=SMALLINT},
      </if>
      <if test="issuggest != null" >
        isSuggest = #{issuggest,jdbcType=BIT},
      </if>
      <if test="question != null" >
        question = #{question,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.rwkj.jc.domain.PaperDetail" >
    update jc_paperdetail
    set paper_id = #{paperId,jdbcType=VARCHAR},
      questionNO = #{questionno,jdbcType=INTEGER},
      optionA = #{optiona,jdbcType=VARCHAR},
      optionAScore = #{optionascore,jdbcType=SMALLINT},
      optionB = #{optionb,jdbcType=VARCHAR},
      optionBScore = #{optionbscore,jdbcType=SMALLINT},
      optionC = #{optionc,jdbcType=VARCHAR},
      optionCScore = #{optioncscore,jdbcType=SMALLINT},
      optionD = #{optiond,jdbcType=VARCHAR},
      optionDScore = #{optiondscore,jdbcType=SMALLINT},
      optionE = #{optione,jdbcType=VARCHAR},
      optionEScore = #{optionescore,jdbcType=SMALLINT},
      optionF = #{optionf,jdbcType=VARCHAR},
      optionFScore = #{optionfscore,jdbcType=SMALLINT},
      isSuggest = #{issuggest,jdbcType=BIT},
      question = #{question,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rwkj.jc.domain.PaperDetail" >
    update jc_paperdetail
    set paper_id = #{paperId,jdbcType=VARCHAR},
      questionNO = #{questionno,jdbcType=INTEGER},
      optionA = #{optiona,jdbcType=VARCHAR},
      optionAScore = #{optionascore,jdbcType=SMALLINT},
      optionB = #{optionb,jdbcType=VARCHAR},
      optionBScore = #{optionbscore,jdbcType=SMALLINT},
      optionC = #{optionc,jdbcType=VARCHAR},
      optionCScore = #{optioncscore,jdbcType=SMALLINT},
      optionD = #{optiond,jdbcType=VARCHAR},
      optionDScore = #{optiondscore,jdbcType=SMALLINT},
      optionE = #{optione,jdbcType=VARCHAR},
      optionEScore = #{optionescore,jdbcType=SMALLINT},
      optionF = #{optionf,jdbcType=VARCHAR},
      optionFScore = #{optionfscore,jdbcType=SMALLINT},
      isSuggest = #{issuggest,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getPaperDetails" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from jc_paperdetail where paper_id = #{paperId} order by questionNO limit #{pageIndex},#{pageSize}
  </select>
  
   <select id="getPaperDetailsCount" resultType="java.lang.Integer">
    select 
    count(*)
    from jc_paperdetail where paper_id = #{paperId}
  </select> 
  
  <select id="getPaperDetailsByColumnValue" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from jc_paperdetail where ${column} like #{value} and paper_id = #{paperId} order by questionNO limit #{pageIndex},#{pageSize}
  </select>
  
   <select id="getPaperDetailsCountByColumnValue" resultType="java.lang.Integer">
    select 
    count(*)
    from jc_paperdetail where ${column} like #{value} and paper_id = #{paperId}
  </select>
  
   <select id="selectPaperDetailByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jc_paperdetail
    where question like #{name} and paper_id = #{paperId}
  </select>
  
   <delete id="deletePaperByids" parameterType="java.lang.String" >
    delete from jc_paperdetail
    where id in ${ids}
  </delete>
  
  <select id="getPaperDetailsByPaperId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from jc_paperdetail where paper_id = #{paperId} order by questionNO
  </select>
  
   <insert id="batchInsert" parameterType="java.util.List">
    insert into jc_paperdetail (id, paper_id, questionNO, 
      optionA, optionAScore, optionB, 
      optionBScore, optionC, optionCScore, 
      optionD, optionDScore, optionE, 
      optionEScore, optionF, optionFScore, 
      isSuggest, question)
    values 
	<foreach collection="list" item="itm" separator=",">
		(#{itm.id,jdbcType=VARCHAR}, #{itm.templetId,jdbcType=VARCHAR}, #{itm.questionno,jdbcType=INTEGER}, 
	      #{itm.optiona,jdbcType=VARCHAR}, #{itm.optionascore,jdbcType=SMALLINT}, #{itm.optionb,jdbcType=VARCHAR}, 
	      #{itm.optionbscore,jdbcType=SMALLINT}, #{itm.optionc,jdbcType=VARCHAR}, #{itm.optioncscore,jdbcType=SMALLINT}, 
	      #{itm.optiond,jdbcType=VARCHAR}, #{itm.optiondscore,jdbcType=SMALLINT}, #{itm.optione,jdbcType=VARCHAR}, 
	      #{itm.optionescore,jdbcType=SMALLINT}, #{itm.optionf,jdbcType=VARCHAR}, #{itm.optionfscore,jdbcType=SMALLINT}, 
      #{issuggest,jdbcType=BIT},#{itm.question,jdbcType=LONGVARCHAR})
     </foreach>
  </insert>
</mapper>