<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rwkj.jc.IDao.PlanMapper" >
  <resultMap id="BaseResultMap" type="com.rwkj.jc.domain.Plan" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="planTitle" property="plantitle" jdbcType="VARCHAR" />
    <result column="beginTime" property="begintime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="isFinish" property="isfinish" jdbcType="BIT" />
    <result column="isStart" property="isstart" jdbcType="BIT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, planTitle, beginTime, endTime, isFinish, isStart, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jc_plan
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jc_plan
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rwkj.jc.domain.Plan" >
    insert into jc_plan (id, planTitle, beginTime, 
      endTime, isFinish, isStart, 
      createTime)
    values (#{id,jdbcType=VARCHAR}, #{plantitle,jdbcType=VARCHAR}, #{begintime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{isfinish,jdbcType=BIT}, #{isstart,jdbcType=BIT}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rwkj.jc.domain.Plan" >
    insert into jc_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="plantitle != null" >
        planTitle,
      </if>
      <if test="begintime != null" >
        beginTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="isfinish != null" >
        isFinish,
      </if>
      <if test="isstart != null" >
        isStart,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="plantitle != null" >
        #{plantitle,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null" >
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isfinish != null" >
        #{isfinish,jdbcType=BIT},
      </if>
      <if test="isstart != null" >
        #{isstart,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rwkj.jc.domain.Plan" >
    update jc_plan
    <set >
      <if test="plantitle != null" >
        planTitle = #{plantitle,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null" >
        beginTime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isfinish != null" >
        isFinish = #{isfinish,jdbcType=BIT},
      </if>
      <if test="isstart != null" >
        isStart = #{isstart,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rwkj.jc.domain.Plan" >
    update jc_plan
    set planTitle = #{plantitle,jdbcType=VARCHAR},
      beginTime = #{begintime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      isFinish = #{isfinish,jdbcType=BIT},
      isStart = #{isstart,jdbcType=BIT},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
   <select id="getPlans" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jc_plan order by createTime desc limit #{pageIndex},#{pageSize}
  </select>
   <select id="getPlansForNoStart" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jc_plan where isStart = 0 order by createTime desc limit #{pageIndex},#{pageSize}
  </select>
   <select id="getAllPlans" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jc_plan order by createTime desc
  </select>
   <select id="getPlansByPlanTitle" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jc_plan where planTitle like #{planTitle} order by createTime limit #{pageIndex},#{pageSize}
  </select>
   <select id="getPlansByPlanTitleForNoStart" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jc_plan where planTitle like #{planTitle} and isStart = 0 order by createTime limit #{pageIndex},#{pageSize}
  </select>
   <select id="getPlansCountForNoStart" resultType="java.lang.Integer" >
    select 
    count(*)
    from jc_plan where isStart = 0
  </select>
   <select id="getPlansCount" resultType="java.lang.Integer" >
    select 
    count(*)
    from jc_plan
  </select>
   <select id="getPlansCountByPlanTitle" resultType="java.lang.Integer" parameterType="java.lang.String">
    select 
    count(*)
    from jc_plan where planTitle like #{planTitle}
  </select>
   <select id="getPlansCountByPlanTitleForNoStart" resultType="java.lang.Integer" parameterType="java.lang.String">
    select 
    count(*)
    from jc_plan where planTitle like #{planTitle} and isStart = 0
  </select>
  <select id="getPlanByPlanTitle" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jc_plan
    where planTitle = #{planTitle,jdbcType=VARCHAR}
  </select>
</mapper>