<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rwkj.jc.dao.QuestionTypeDao" >
  <resultMap id="BaseResultMap" type="com.rwkj.jc.domain.QuestionType" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="typeName" property="typename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, typeName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ${tableName}
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ${tableName}
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rwkj.jc.domain.QuestionType" >
    insert into ${tableName} (id, type, typeName
      )
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=SMALLINT}, #{typename,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rwkj.jc.domain.QuestionType" >
    insert into ${tableName}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="typename != null" >
        typeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rwkj.jc.domain.QuestionType" >
    update ${tableName}
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="typename != null" >
        typeName = #{typename,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rwkj.jc.domain.QuestionType" >
    update ${tableName}
    set type = #{type,jdbcType=SMALLINT},
      typeName = #{typename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="existTable" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM information_schema.TABLES WHERE TABLE_NAME=#{tableName}
    </select>
    <update id="dropTable">
        drop table ${tableName}
    </update>

    <update id="createNewTable" parameterType="String">
		CREATE TABLE ${tableName} (
		  `id` varchar(50) NOT NULL,
		  `type` smallint(2) NOT NULL,
		  `typeName` varchar(50) NOT NULL,
		  PRIMARY KEY  (`id`)
		)
    </update>
</mapper>