<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rwkj.jc.IDao.RelationMapper" >
  <resultMap id="BaseResultMap" type="com.rwkj.jc.domain.Relation" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="plan_id" property="planId" jdbcType="VARCHAR" />
    <result column="testPerson" property="testperson" jdbcType="VARCHAR" />
    <result column="beTestedPerson" property="betestedperson" jdbcType="VARCHAR" />
    <result column="beTestedDepart" property="betesteddepart" jdbcType="VARCHAR" />
    <result column="isPerson" property="isperson" jdbcType="BIT" />
    <result column="isFinish" property="isfinish" jdbcType="BIT" />
    <result column="paper_id" property="paperId" jdbcType="VARCHAR" />
    <result column="rule_id" property="ruleId" jdbcType="VARCHAR" />
    <result column="isSupportSMS" property="issupportsms" jdbcType="BIT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="BIT" />
    <association property="plan" column="plan_id" select="com.rwkj.jc.IDao.PlanMapper.selectByPrimaryKey"/>
    <association property="paper" column="paper_id" select="com.rwkj.jc.IDao.PaperMapper.selectByPrimaryKey"/>
    <association property="rule" column="rule_id" select="com.rwkj.jc.IDao.RuleMapper.selectByPrimaryKey"/>
    <association property="testUser" column="testPerson" select="com.rwkj.jc.IDao.UserMapper.getUserByUserNo"/>
    <association property="beTestedUser" column="beTestedPerson" select="com.rwkj.jc.IDao.UserMapper.getUserByUserNo"/>
    <association property="testedDepart" column="beTestedDepart" select="com.rwkj.jc.IDao.DepartMapper.selectByNo"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, plan_id, testPerson, beTestedPerson, beTestedDepart, isPerson, isFinish, paper_id, 
    rule_id, isSupportSMS, createTime, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jc_relation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jc_relation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rwkj.jc.domain.Relation" >
    insert into jc_relation (id, plan_id, testPerson, 
      beTestedPerson, beTestedDepart, isPerson, 
      isFinish, paper_id, rule_id, 
      isSupportSMS, createTime, status
      )
    values (#{id,jdbcType=VARCHAR}, #{planId,jdbcType=VARCHAR}, #{testperson,jdbcType=VARCHAR}, 
      #{betestedperson,jdbcType=VARCHAR}, #{betesteddepart,jdbcType=VARCHAR}, #{isperson,jdbcType=BIT}, 
      #{isfinish,jdbcType=BIT}, #{paperId,jdbcType=VARCHAR}, #{ruleId,jdbcType=VARCHAR}, 
      #{issupportsms,jdbcType=BIT}, #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rwkj.jc.domain.Relation" >
    insert into jc_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="planId != null" >
        plan_id,
      </if>
      <if test="testperson != null" >
        testPerson,
      </if>
      <if test="betestedperson != null" >
        beTestedPerson,
      </if>
      <if test="betesteddepart != null" >
        beTestedDepart,
      </if>
      <if test="isperson != null" >
        isPerson,
      </if>
      <if test="isfinish != null" >
        isFinish,
      </if>
      <if test="paperId != null" >
        paper_id,
      </if>
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="issupportsms != null" >
        isSupportSMS,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="testperson != null" >
        #{testperson,jdbcType=VARCHAR},
      </if>
      <if test="betestedperson != null" >
        #{betestedperson,jdbcType=VARCHAR},
      </if>
      <if test="betesteddepart != null" >
        #{betesteddepart,jdbcType=VARCHAR},
      </if>
      <if test="isperson != null" >
        #{isperson,jdbcType=BIT},
      </if>
      <if test="isfinish != null" >
        #{isfinish,jdbcType=BIT},
      </if>
      <if test="paperId != null" >
        #{paperId,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null" >
        #{ruleId,jdbcType=VARCHAR},
      </if>
      <if test="issupportsms != null" >
        #{issupportsms,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rwkj.jc.domain.Relation" >
    update jc_relation
    <set >
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=VARCHAR},
      </if>
      <if test="testperson != null" >
        testPerson = #{testperson,jdbcType=VARCHAR},
      </if>
      <if test="betestedperson != null" >
        beTestedPerson = #{betestedperson,jdbcType=VARCHAR},
      </if>
      <if test="betesteddepart != null" >
        beTestedDepart = #{betesteddepart,jdbcType=VARCHAR},
      </if>
      <if test="isperson != null" >
        isPerson = #{isperson,jdbcType=BIT},
      </if>
      <if test="isfinish != null" >
        isFinish = #{isfinish,jdbcType=BIT},
      </if>
      <if test="paperId != null" >
        paper_id = #{paperId,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null" >
        rule_id = #{ruleId,jdbcType=VARCHAR},
      </if>
      <if test="issupportsms != null" >
        isSupportSMS = #{issupportsms,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rwkj.jc.domain.Relation" >
    update jc_relation
    set plan_id = #{planId,jdbcType=VARCHAR},
      testPerson = #{testperson,jdbcType=VARCHAR},
      beTestedPerson = #{betestedperson,jdbcType=VARCHAR},
      beTestedDepart = #{betesteddepart,jdbcType=VARCHAR},
      isPerson = #{isperson,jdbcType=BIT},
      isFinish = #{isfinish,jdbcType=BIT},
      paper_id = #{paperId,jdbcType=VARCHAR},
      rule_id = #{ruleId,jdbcType=VARCHAR},
      isSupportSMS = #{issupportsms,jdbcType=BIT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="getRelations" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from jc_relation order by createTime limit #{pageIndex},#{pageSize}
  </select>
  
   <select id="getRelationsCount" resultType="java.lang.Integer">
    select 
    count(*)
    from jc_relation
  </select> 
  
  <select id="getRelationsByColumnValueForNoSureValue" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from jc_relation where ${column} in #{value} order by createTime limit #{pageIndex},#{pageSize}
  </select>
  
   <select id="getRelationsCountByColumnValueForNoSureValue" resultType="java.lang.Integer">
    select 
    count(*)
    from jc_relation where ${column} in #{value}
  </select>
  <select id="getRelationsByColumnValue" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from jc_relation where ${column} = ${value} order by createTime limit #{pageIndex},#{pageSize}
  </select>
  
  <select id="getRelationsByPlanId" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from jc_relation where plan_id = #{planId,jdbcType=VARCHAR} order by createTime
  </select>
  
   <select id="getRelationsCountByColumnValue" resultType="java.lang.Integer">
    select 
    count(*)
    from jc_relation where ${column} = ${value}
  </select>
  
   <update id="deleteRelationByids" parameterType="java.lang.String" >
    update jc_relation set status = 0
    where id in ${ids}
  </update>
  
   <update id="openSMSRelationByid" parameterType="java.lang.String" >
    update jc_relation set isSupportSMS = 1
    where plan_id = #{planId,jdbcType=VARCHAR}
  </update>
   <update id="disabledSMSRelationByid" parameterType="java.lang.String" >
    update jc_relation set isSupportSMS = 0
    where plan_id = #{planId,jdbcType=VARCHAR}
  </update>
  
  <select id="getAllRelations" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from jc_relation order by createTime
  </select>
  
   <insert id="batchInsert" parameterType="java.util.List">
     insert into jc_relation (id, plan_id, testPerson, 
      beTestedPerson, beTestedDepart, isPerson, 
      isFinish, paper_id, rule_id, 
      isSupportSMS, createTime, status
      )
    values 
	<foreach collection="list" item="itm" separator=",">
	(#{itm.id,jdbcType=VARCHAR}, #{itm.planId,jdbcType=VARCHAR}, #{itm.testperson,jdbcType=VARCHAR}, 
      #{itm.betestedperson,jdbcType=VARCHAR}, #{itm.betesteddepart,jdbcType=VARCHAR}, #{itm.isperson,jdbcType=BIT}, 
      #{itm.isfinish,jdbcType=BIT}, #{itm.paperId,jdbcType=VARCHAR}, #{itm.ruleId,jdbcType=VARCHAR}, 
      #{itm.issupportsms,jdbcType=BIT}, #{itm.createtime,jdbcType=TIMESTAMP}, #{itm.status,jdbcType=BIT}
      )
     </foreach>
  </insert>
</mapper>