<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rwkj.jc.IDao.RuleMapper" >
  <resultMap id="BaseResultMap" type="com.rwkj.jc.domain.Rule" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="first" property="first" jdbcType="INTEGER" />
    <result column="firstName" property="firstname" jdbcType="VARCHAR" />
    <result column="second" property="second" jdbcType="INTEGER" />
    <result column="secondName" property="secondname" jdbcType="VARCHAR" />
    <result column="third" property="third" jdbcType="INTEGER" />
    <result column="thirdName" property="thirdname" jdbcType="VARCHAR" />
    <result column="forth" property="forth" jdbcType="INTEGER" />
    <result column="forthName" property="forthname" jdbcType="VARCHAR" />
    <result column="fifth" property="fifth" jdbcType="INTEGER" />
    <result column="fifthName" property="fifthname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, first, firstName, second, secondName, third, thirdName, forth, forthName, fifth, 
    fifthName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jc_rule
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jc_rule
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rwkj.jc.domain.Rule" >
    insert into jc_rule (id, first, firstName, 
      second, secondName, third, 
      thirdName, forth, forthName, 
      fifth, fifthName)
    values (#{id,jdbcType=VARCHAR}, #{first,jdbcType=INTEGER}, #{firstname,jdbcType=VARCHAR}, 
      #{second,jdbcType=INTEGER}, #{secondname,jdbcType=VARCHAR}, #{third,jdbcType=INTEGER}, 
      #{thirdname,jdbcType=VARCHAR}, #{forth,jdbcType=INTEGER}, #{forthname,jdbcType=VARCHAR}, 
      #{fifth,jdbcType=INTEGER}, #{fifthname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rwkj.jc.domain.Rule" >
    insert into jc_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="first != null" >
        first,
      </if>
      <if test="firstname != null" >
        firstName,
      </if>
      <if test="second != null" >
        second,
      </if>
      <if test="secondname != null" >
        secondName,
      </if>
      <if test="third != null" >
        third,
      </if>
      <if test="thirdname != null" >
        thirdName,
      </if>
      <if test="forth != null" >
        forth,
      </if>
      <if test="forthname != null" >
        forthName,
      </if>
      <if test="fifth != null" >
        fifth,
      </if>
      <if test="fifthname != null" >
        fifthName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="first != null" >
        #{first,jdbcType=INTEGER},
      </if>
      <if test="firstname != null" >
        #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="second != null" >
        #{second,jdbcType=INTEGER},
      </if>
      <if test="secondname != null" >
        #{secondname,jdbcType=VARCHAR},
      </if>
      <if test="third != null" >
        #{third,jdbcType=INTEGER},
      </if>
      <if test="thirdname != null" >
        #{thirdname,jdbcType=VARCHAR},
      </if>
      <if test="forth != null" >
        #{forth,jdbcType=INTEGER},
      </if>
      <if test="forthname != null" >
        #{forthname,jdbcType=VARCHAR},
      </if>
      <if test="fifth != null" >
        #{fifth,jdbcType=INTEGER},
      </if>
      <if test="fifthname != null" >
        #{fifthname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rwkj.jc.domain.Rule" >
    update jc_rule
    <set >
      <if test="first != null" >
        first = #{first,jdbcType=INTEGER},
      </if>
      <if test="firstname != null" >
        firstName = #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="second != null" >
        second = #{second,jdbcType=INTEGER},
      </if>
      <if test="secondname != null" >
        secondName = #{secondname,jdbcType=VARCHAR},
      </if>
      <if test="third != null" >
        third = #{third,jdbcType=INTEGER},
      </if>
      <if test="thirdname != null" >
        thirdName = #{thirdname,jdbcType=VARCHAR},
      </if>
      <if test="forth != null" >
        forth = #{forth,jdbcType=INTEGER},
      </if>
      <if test="forthname != null" >
        forthName = #{forthname,jdbcType=VARCHAR},
      </if>
      <if test="fifth != null" >
        fifth = #{fifth,jdbcType=INTEGER},
      </if>
      <if test="fifthname != null" >
        fifthName = #{fifthname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rwkj.jc.domain.Rule" >
    update jc_rule
    set first = #{first,jdbcType=INTEGER},
      firstName = #{firstname,jdbcType=VARCHAR},
      second = #{second,jdbcType=INTEGER},
      secondName = #{secondname,jdbcType=VARCHAR},
      third = #{third,jdbcType=INTEGER},
      thirdName = #{thirdname,jdbcType=VARCHAR},
      forth = #{forth,jdbcType=INTEGER},
      forthName = #{forthname,jdbcType=VARCHAR},
      fifth = #{fifth,jdbcType=INTEGER},
      fifthName = #{fifthname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>