<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rwkj.jc.IDao.PaperMapper" >
  <resultMap id="BaseResultMap" type="com.rwkj.jc.domain.Paper" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="paperTitle" property="papertitle" jdbcType="VARCHAR" />
    <result column="isPublish" property="ispublish" jdbcType="BIT" />
    <result column="createPerson" property="createperson" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sequence, paperTitle, isPublish, createPerson, createTime, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jc_paper
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jc_paper
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rwkj.jc.domain.Paper" >
    insert into jc_paper (id, sequence, paperTitle, 
      isPublish, createPerson, createTime, 
      status)
    values (#{id,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, #{papertitle,jdbcType=VARCHAR}, 
      #{ispublish,jdbcType=BIT}, #{createperson,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.rwkj.jc.domain.Paper" >
    insert into jc_paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="papertitle != null" >
        paperTitle,
      </if>
      <if test="ispublish != null" >
        isPublish,
      </if>
      <if test="createperson != null" >
        createPerson,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="papertitle != null" >
        #{papertitle,jdbcType=VARCHAR},
      </if>
      <if test="ispublish != null" >
        #{ispublish,jdbcType=BIT},
      </if>
      <if test="createperson != null" >
        #{createperson,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rwkj.jc.domain.Paper" >
    update jc_paper
    <set >
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="papertitle != null" >
        paperTitle = #{papertitle,jdbcType=VARCHAR},
      </if>
      <if test="ispublish != null" >
        isPublish = #{ispublish,jdbcType=BIT},
      </if>
      <if test="createperson != null" >
        createPerson = #{createperson,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rwkj.jc.domain.Paper" >
    update jc_paper
    set sequence = #{sequence,jdbcType=INTEGER},
      paperTitle = #{papertitle,jdbcType=VARCHAR},
      isPublish = #{ispublish,jdbcType=BIT},
      createPerson = #{createperson,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>