<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rwkj.jc.IDao.RelationMapper" >
  <resultMap id="BaseResultMap" type="com.rwkj.jc.domain.Relation" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="plan_id" property="planId" jdbcType="VARCHAR" />
    <result column="testPerson" property="testperson" jdbcType="VARCHAR" />
    <result column="beTestedPerson" property="betestedperson" jdbcType="VARCHAR" />
    <result column="isFinish" property="isfinish" jdbcType="BIT" />
    <result column="paper_id" property="paperId" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, plan_id, testPerson, beTestedPerson, isFinish, paper_id, createTime, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jc_relation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jc_relation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rwkj.jc.domain.Relation" >
    insert into jc_relation (id, plan_id, testPerson, 
      beTestedPerson, isFinish, paper_id, 
      createTime, status)
    values (#{id,jdbcType=VARCHAR}, #{planId,jdbcType=VARCHAR}, #{testperson,jdbcType=VARCHAR}, 
      #{betestedperson,jdbcType=VARCHAR}, #{isfinish,jdbcType=BIT}, #{paperId,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.rwkj.jc.domain.Relation" >
    insert into jc_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="planId != null" >
        plan_id,
      </if>
      <if test="testperson != null" >
        testPerson,
      </if>
      <if test="betestedperson != null" >
        beTestedPerson,
      </if>
      <if test="isfinish != null" >
        isFinish,
      </if>
      <if test="paperId != null" >
        paper_id,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="testperson != null" >
        #{testperson,jdbcType=VARCHAR},
      </if>
      <if test="betestedperson != null" >
        #{betestedperson,jdbcType=VARCHAR},
      </if>
      <if test="isfinish != null" >
        #{isfinish,jdbcType=BIT},
      </if>
      <if test="paperId != null" >
        #{paperId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rwkj.jc.domain.Relation" >
    update jc_relation
    <set >
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=VARCHAR},
      </if>
      <if test="testperson != null" >
        testPerson = #{testperson,jdbcType=VARCHAR},
      </if>
      <if test="betestedperson != null" >
        beTestedPerson = #{betestedperson,jdbcType=VARCHAR},
      </if>
      <if test="isfinish != null" >
        isFinish = #{isfinish,jdbcType=BIT},
      </if>
      <if test="paperId != null" >
        paper_id = #{paperId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rwkj.jc.domain.Relation" >
    update jc_relation
    set plan_id = #{planId,jdbcType=VARCHAR},
      testPerson = #{testperson,jdbcType=VARCHAR},
      beTestedPerson = #{betestedperson,jdbcType=VARCHAR},
      isFinish = #{isfinish,jdbcType=BIT},
      paper_id = #{paperId,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>